<span style="color:orange">
 <h2> Databircks-Assignemnt 1 (Basic Common Transformation)
</span>
  <h5>
    <span style="color:red">
<b>Author: Deepak Goyal <br>
   <a> adeus.azurelib.com </a><br>
   Email at: admin@azurelib.com
</span>

<b>How many employees are in the input file?

In [0]:
from pyspark.sql.functions import *
df1=spark.read.csv("/FileStore/EmployeeData_8xfZvOlzqL-1.csv",header=True,inferSchema=True)
display(df1)
df1.count()

In [0]:
df1.createOrReplaceTempView("EmployeeData")
df100=spark.sql("Select count(*) from EmployeeData")
display(df100)

<b> What is the average salary of all the employees?

In [0]:
df2=df1.agg(avg("salary")).show()

In [0]:
df101=spark.sql("Select AVG(Salary) from EmployeeData")
display(df101)

<b> How many male and female employees are there in the input file?

In [0]:
df3=df1.filter((df1.gender=='Male') | (df1.gender=='Female')).groupBy(df1.gender).count().show()

In [0]:
df102=spark.sql("Select gender, count(gender) as count from EmployeeData where gender not in ('null') group by gender")
display(df102)

<b> Who is the employee with the highest salary?

In [0]:
df4=df1.agg(max("salary")).first()[0]
df5=df1.filter((df1.salary==df4)).select("first_name","last_name","salary").show()

In [0]:
df103=spark.sql("Select first_name,last_name,salary from EmployeeData order by salary Desc Limit 1 ")
display(df103)

<b> What is the total bonus amount paid to all the employees?

In [0]:
df6=df1.agg(sum('bonus')).show()

In [0]:
df104=spark.sql("Select sum(bonus)/10000000 as Bonus_in_Cr from EmployeeData")
display(df104)

d
<b> How many employees were hired in the year 2020?

In [0]:
df7 = df1.filter(year(df1.creationDate)=="2020").show()

In [0]:
df105=spark.sql("Select * from EmployeeData where creationDate like '2020%'")
display(df105)

d
<b> Who are the top 5 employees with the highest salaries?

In [0]:
from pyspark.sql.window import Window
w=Window().orderBy(df1.salary.desc_nulls_last())
df8=df1.withColumn("row_num",row_number().over(w))
df9=df8.filter(df8.row_num<=5).show()

In [0]:
df106=spark.sql("Select * from EmployeeData order by salary Desc limit 5")
display(df106)

d
<b> What is the total salary paid to all male employees?

In [0]:
df10=df1.filter(df1.gender=='Male').select(sum("salary")).show()

In [0]:
df107=spark.sql("Select sum(salary) from EmployeeData where gender ='Male'")
display(df107)

d
<b> Who is the employee with the highest bonus amount?

In [0]:
df11=df1.agg(max("bonus")).first()[0]
df12=df1.filter(df1.bonus==df11).select("first_name","last_name","bonus").show()

In [0]:
df108=spark.sql("Select first_name, last_name,bonus from EmployeeData order by bonus DESC limit 1")
display(df108)

d
<b> What is the earliest creation date of any employee in the input file?

In [0]:
w=Window().orderBy(df1.creationDate.asc_nulls_last())
df13=df1.withColumn("row_num",row_number().over(w))
df14=df13.filter(df13.row_num==1).show()

In [0]:
df109=spark.sql("Select * from EmployeeData where creationDate not in ('null') order by creationDate ASC limit 1")
display(df109)

d
<b> How many employees have a salary greater than 100,000?

In [0]:
df15=df1.filter(df1.salary>100000)
df15.show()

In [0]:
df110=spark.sql("Select * from EmployeeData where salary >100000")
display(df110)

d
<b> Who is the female employee with the highest salary?

In [0]:
df16=df1.filter(df1.gender=="Female")
w=Window().orderBy(df16.salary.desc_nulls_last())
df16=df16.withColumn("row_num",row_number().over(w))
df17=df16.filter(df16.row_num==1).show()

In [0]:
df111=spark.sql("Select * from EmployeeData where gender ='Female' order by salary DESC limit 1")
display(df111)

d
<b> What is the total bonus amount paid to female employees?

In [0]:
df18=df1.filter(df1.gender=="Female").select(sum("bonus")).show()

In [0]:
df112=spark.sql("Select Sum(bonus) from EmployeeData where gender ='Female'")
display(df112)

d
<b> How many employees have a salary between 50,000 and 75,000?

In [0]:
df19=df1.filter(df1.salary.between (50000 ,75000)).show()

In [0]:
df113=spark.sql("Select * from EmployeeData where salary between 50000 and 75000")
display(df113)

d
<b> Who are the top 10 employees with the highest bonuses?

In [0]:
w=Window().orderBy(df1.bonus.desc_nulls_last())
df20=df1.withColumn("row_num",row_number().over(w))
df21=df20.filter(df20.row_num<=10).show()

In [0]:
df114=spark.sql("Select * from EmployeeData order by bonus DESC limit 10")
display(df114)

d
<b> What is the latest creation date of any employee in the input file?

In [0]:
w=Window().orderBy(df1.creationDate.desc_nulls_last())
df22=df1.withColumn("row_num",row_number().over(w))
df23=df22.filter(df22.row_num==1).show()

In [0]:
df115=spark.sql("Select * from EmployeeData where creationDate not in ('null') order by creationDate DESC limit 1")
display(df115)

d
<b> How many employees have a salary less than 50,000?

In [0]:
df24=df1.filter(df1.salary <50000).show()

In [0]:
df116=spark.sql("Select * from EmployeeData where salary<50000")
display(df116)

d
<b> Who are the top 3 employees with the lowest salaries?

In [0]:
w=Window().orderBy(df1.salary.asc_nulls_last())
df25=df1.withColumn("row_num",row_number().over(w))
df26=df25.filter(df25.row_num<=3).show()

In [0]:
df117=spark.sql("Select * from EmployeeData where salary not in ('null') order by salary limit 3")
display(df117)

d
<b> What is the average bonus amount paid to all employees?

In [0]:
df27=df1.agg(avg("bonus")).show()

In [0]:
df118=spark.sql("Select AVG(bonus) from EmployeeData")
display(df118)

d
<b> How many employees have a bonus greater than their salary?

In [0]:
df28=df1.filter(df1.bonus>df1.salary).show()

In [0]:
df119=spark.sql("select * from EmployeeData where bonus > salary")
display(df119)